p {
    font-weight: 600;
}

#allcomponent {
    padding-bottom: 70vh;
    background-image: url("../assets/backGroundForProjectAngular.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}