<form [formGroup]="newComment" (ngSubmit)="onSubmit()" class="container-fluname" style="border:2px solid pink">
    <p style="text-align: center;">הוספת תגובה</p>
    <div class="form-group row">
        <label for="name" class="col-3">Name</label>
        <div class="col-7">
            <input type="text" class="form-control" formControlName="name" required name="name" placeholder="name"
                pattern="([א-ת|a-z|A-Z]{2,10} {0,1}){1,6}">
        </div>
        
    </div>
    <div class="form-group row">
        <label for="tel" class="col-3">Tel</label>
        <div class="col-7">
            <input type="text" class="form-control" name="tel" placeholder="tel" required pattern="[\d]{9,10}"
                formControlName="tel">
        </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-3">email</label>
            <div class="col-7">
                <input type="text" class="form-control" name="email" placeholder="email" required
                    formControlName="email" pattern="[^@]{1,}@{1}[^@]{1,}">
            </div>
           
        </div>
        <div class="form-group row">
            <label for="yourComment" class="col-3">yourComment</label>
            <div class="col-7">
                <input type="text" class="form-control" name="yourComment" placeholder="yourComment" required
                formControlName="yourComment">
            </div>
           
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!newComment.valid"
            style="margin-left: 50%;">Submit</button>
</form>